@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#3b82f6, #4a7dff);
}

#container {
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#search {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    padding: 4px 12px;
}

#search input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
}

#search input:focus-visible {
    outline: none;
}

#search button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#weather {
    display: none;
    margin-top: 30px;
}

#weather.show {
    display: block;
    margin-top: 20px;
}

#weather #title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: #372f3f;
}

#temp {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background: linear-gradient(90deg, #5a7cdc, #606dde);
    color: #fff;
    border-radius: 20px;
    padding: 20px;
}

#temp_img {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

#temp_value {
    font-weight: 800;
    font-size: 50px;
    line-height: 55px;
}

#temp_description {
    font-weight: 600;
    text-transform: capitalize;
}

#other_infos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

#other_infos .info {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 12px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    gap: 10px;
    margin-bottom: 12px;
}

#other_infos .info h2 {
    font-size: 16px;
    font-weight: 600;
}

#other_infos .info i {
    text-align: center;
    font-size: 20px;
    width: 20%;
}

#temp_max_icon {
    color: #7f1d1d;
}

#temp_min_icon {
    color: #0284c7;
}

#umidity_icon {
    color: #0ea5e5;
}

#wind_icon {
    color: #7c3aed;
}

#alert {
    margin-top: 20px;
    font-style: italic;
    text-align: center;
}